input{
    border: 1px solid blue;
    padding: 5px;
    margin: 5px;
    background-color: rgb(244, 240, 236);
    font-size: 13px;
    border-radius: 3px;
}
input:focus{
    border: 1px solid rgb(255, 38, 00);
    padding: 5px;
    margin: 5px;
    background-color: aquamarine;
    font-size: 13px;
    border-radius: 3px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}
input[type=submit]{
    cursor: pointer;
    background-color: rgb(253, 51, 15);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
button{
    cursor: pointer;
    background-color: rgb(15, 47, 253);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
chechbox{
    border: 1px solid rgb(red,green,blue);
    padding: 5px;
    margin: 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: aquamarine;
}
select{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
option{
    border: 1px solid rgb(red,green,blue);
    padding: 5px;
    margin: 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: aqua;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(239, 180, 190);
}
border{
    cursor: pointer;
    background-color: rgb(14, 13, 13);
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}